.react-calendar__tile {
    height: 6vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid gray;
  }

.all {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 35px;
    border: 0px;
    box-shadow: 0px 4.5px 4.5px rgba(0, 0, 0, 0.25);
    height: 50vh;
    font-size: 7.5px;
}

.react-calendar__navigation {
  background-image:linear-gradient(to left, #91a8d0, #f0eee9);
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  height: 8.5vh;
}

.react-calendar__viewContainer {
  height: 100%;
  padding-top: 2.5vh;
  justify-content: center;
  align-items: center;
}

.react-calendar__month-view__weekdays {
  font-size: small;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
  border-radius: 50%;
  color: black
}

.react-calendar__tile--now {
  background-color:#fffde4af;
  border-radius: 50%;
  color: black
}
.react-calendar__tile--hasActive {
  background: #F7CAC9;
  color: white;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #F7CAC9;
  
}
.react-calendar__tile--active {
  background:#F7CAC9;
  color: white;
  border-radius: 50%;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background:#F7CAC9;
  color: white;
  border-radius: 50%;
}

.react-calendar__navigation__label__labelText{
  font-size: large;
  font-weight: 800;
}