.white-card {
    box-sizing: border-box;
    margin-left: 12px;
    margin-right: 12px;
    height: 600px;
    border-radius: 35px;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.white-card-list {
    box-sizing: border-box;
    padding-top: 50%;
    padding-left: 15%;
    padding-right: 15%;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    /* align-items: start; */
    margin-left: 12px;
    margin-right: 12px;
    height: 600px;
    border-radius: 35px;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.white-card-script {
    box-sizing: border-box;
    padding: 10%;
    display: flex;
    flex-direction: row;
    margin-left: 12px;
    margin-right: 12px;
    border-radius: 30px;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.subtitle{
    left: 6.43%;
    right: 34.05%;
    height: 60px;
    bottom: 91.04%;
    font-weight: 300px;
    font-size: 30px;
    line-height: 32px;
    display: flex;
    align-items: center;
}

.wrapper {
    display: flex;
    flex-direction: row;
    margin-left: 12px;
    margin-right: 12px;
}