.sign {
  scale: 0.7;
  height:100%;
  padding-top: 10px;
  width:100%;
  background: #ffffff transparent;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  /* /* left: 50%; */
  /* -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */
  /* border: solid 1px red; */
}
.moving {
  /* border: solid 1px blue; */
  width: 56.98vw;
  /* position: absolute; */
  /* bottom: 11.17vh; */
  /* top: 16vh; */

  -webkit-animation: move 1.2s infinite;
  -moz-animation: move 1.2s infinite;
  -o-animation: move 1.2s infinite;
  -ms-animation: move 1.2s infinite;
  animation: move 1.2s infinite;
}
.suitcase {
  height: 15vw;
  width: 24.65vw;
  background:  #7E90AF;
  border-radius: 2vw;
  float: left;
}
.suitcase:nth-child(2) {
  margin-left: 7.67vw;
}
.suitcase::after,
.suitcase::before {
  content: '';
  background: #ffffff;
  height: 15.61vw;
  width: 1.31vw;
  position: absolute;
}
.suitcase::after {
  margin-left: 20.08vw;
}
.suitcase::before {
  margin-left: 3.27vw;
}
.handle {
  /* border: solid 1px rgb(55, 255, 0); */
  background:  #7E90AF;
  height: 4.9vw;
  width: 9.47vw;
  border-top-right-radius: 1.63vw;
  border-top-left-radius: 1.63vw;
  position: absolute;
  margin-left: 7.67vw;
  margin-top: -4.73vw;
}
.handle::after {
  content: '';
  background: #ffffff;
  width: 5.55vw;
  height: 2.78vw;
  position: absolute;
  margin-top: 1.96vw;
  margin-left: 1.96vw;
}
.rollBox {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 3vw;
}
.rollthingy {
  height: 4.73vw;
  width: 4.73vw;
  border-radius: 50%;
  background:  #7E90AF;
  /* position: absolute; */
  /* bottom:  46vh; */
}
.rollthingy:nth-child(2) {
  left: 2.94vw;
}
.rollthingy:nth-child(3) {
  left: 10.29vw;
}
.rollthingy:nth-child(4) {
  left: 17.63vw;
}
.rollthingy:nth-child(5) {
  left: 24.98vw;
}
.rollthingy:nth-child(6) {
  left: 32.33vw;
}
@-moz-keyframes move {
  0% {
    -webkit-transform: translateX(-24.49vw);
    -moz-transform: translateX(-24.49vw);
    -o-transform: translateX(-24.49vw);
    -ms-transform: translateX(-24.49vw);
    transform: translateX(-24.49vw);
  }
  100% {
    -webkit-transform: translateX(7.84vw);
    -moz-transform: translateX(7.84vw);
    -o-transform: translateX(7.84vw);
    -ms-transform: translateX(7.84vw);
    transform: translateX(7.84vw);
  }
}
@-webkit-keyframes move {
  0% {
    -webkit-transform: translateX(-24.49vw);
    -moz-transform: translateX(-24.49vw);
    -o-transform: translateX(-24.49vw);
    -ms-transform: translateX(-24.49vw);
    transform: translateX(-24.49vw);
  }
  100% {
    -webkit-transform: translateX(7.84vw);
    -moz-transform: translateX(7.84vw);
    -o-transform: translateX(7.84vw);
    -ms-transform: translateX(7.84vw);
    transform: translateX(7.84vw);
  }
}
@-o-keyframes move {
  0% {
    -webkit-transform: translateX(-24.49vw);
    -moz-transform: translateX(-24.49vw);
    -o-transform: translateX(-24.49vw);
    -ms-transform: translateX(-24.49vw);
    transform: translateX(-24.49vw);
  }
  100% {
    -webkit-transform: translateX(7.84vw);
    -moz-transform: translateX(7.84vw);
    -o-transform: translateX(7.84vw);
    -ms-transform: translateX(7.84vw);
    transform: translateX(7.84vw);
  }
}
@keyframes move {
  0% {
    -webkit-transform: translateX(-24.49vw);
    -moz-transform: translateX(-24.49vw);
    -o-transform: translateX(-24.49vw);
    -ms-transform: translateX(-24.49vw);
    transform: translateX(-24.49vw);
  }
  100% {
    -webkit-transform: translateX(7.84vw);
    -moz-transform: translateX(7.84vw);
    -o-transform: translateX(7.84vw);
    -ms-transform: translateX(7.84vw);
    transform: translateX(7.84vw);
  }
}