body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #fffde4; */
}

code {
  font-family:  "Raleway", sans-serif;
}

* {
  font-family:  "Raleway", sans-serif;
}

@font-face {
  font-family: "googleKreon";
  src: url(./fonts/Kreon/Kreon-VariableFont_wght.ttf);
}

@font-face {
  font-family: "nanumSquareNeo";
  src: url(./fonts/Kreon/static/NanumSquareNeo-bRg.ttf);
}

@font-face {
  font-family: "efDiary";
  src: url(./fonts/Kreon/static/EF_Diary.ttf);
}

@font-face {
  font-family: "elice";
  src: url(./fonts/Kreon/static/EliceDigitalBaeum_Regular.ttf);
}

@font-face {
  font-family: "coding";
  src: url(./fonts/Kreon/static/D2Coding.ttf);
}

@font-face {
  font-family: "pretendard";
  src: url(./fonts/Kreon/static/Pretendard-Light.otf);
}


:root {
  --font-googleKreon: "googleKreon";
  --font-nanumSquareNeo : "nanumSquareNeo";
  --font-nanumSquareNeo : "efDiary";
  --font-nanumSquareNeo : "elice";
  --font-nanumSquareNeo : "coding";
  --font-nanumSquareNeo : "pretendard";
}